body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: "Helvetica-light, Helvetica";
  font-weight: 300;
  background-color: #242424;
}
#mainContent {
  color:#eee;
}
html {
  height:100%
}


.auctionTitle{
  background-color: #111;
  width:100%;
  padding:30px 0 20px 50px;
  text-align: left;

}
.auctionItemNumber{
  float:right;
  text-align:center;
  margin-right:30px;
  background-color: #f3d85c;
  padding: 10px;

  border-radius: 30px;
  margin-top: -10px;
  margin-left: 20px;
}
.auctionTitle h1{
  /*font-variant: small-caps;*/
  line-height:1em;
  font-size: 60px;
  margin-bottom: 20px;
  color: #efefef;
}
.auctionTitle h2{
  line-height:1em;
  font-size: 40px;
  font-weight: 300;
  color: #e2c75a;
}
.auctionTitle .auctionItemNumber h3{
  font-size: 20px;
  font-weight: 300;
  font-variant: small-caps;
  margin-top: 10px;
  color:#222
}
.auctionTitle .auctionItemNumber h1{
  font-variant: normal;
  color: #222;
  /*font-weight: 300;*/
  /*font-family: Georgia;*/
}
.auctionTitle .auctionItemNumber h1 b{
  /*font-size: 60px;*/
  font-variant: normal;
  /*font-variant: small-caps;*/
  font-weight: 600;
  /*font-family: Georgia;*/
}

.auctionDetail {
  text-align: left;
  font-size: 25px;
  /*line-height: 50px;*/
  font-weight: 300;
  padding: 20px;
  color: #EFEFEF;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius:20px
}
.auctionDetailBottom {
  margin-top: 300px;
}
.auctionDetailTop {
  margin-bottom: 300px;
}

.auctionDetail{
  font-weight: 300;
  font-size: 34px;
}
.auctionDetail h1{
  line-height: 1em;
  color: #e2c75a;
}
.auctionDetail ul{

}
.auctionDetail ul li{
  margin-top: 10px;
  list-style-type: none;
  color: #dddddd
}

.auctionDetail ul li b{
  font-weight: 500;
  font-size: 38px;
  color: white
}

.factSlide p{
  margin-bottom: 25px;
  margin-top: 25px;
}
.factSlide h1{
  font-size:60px;
  color:white;
  line-height:1.1em
}
.factSlide .factSource{
  /*text-align:right;*/
  margin-top:50px;
  color: #e2c75a;
  font-size:25px;
}

#progressWidget .pt-progress-meter{
  background-color: #f3d85c;
}

.softFontBlue {
  color: #e2c75a;
  opacity:1;
}

.tickerTitle {
  color: #e2c75a
}
.tickerTitle b{
  //color: #ed6f2a;
  color: white;
  font-weight: normal;
}

#avasJourneyBanner{
  color:#242424;
  /*//fontFamily:'Verdana',*/
  font-size:55px;
  font-variant:small-caps;
  letter-spacing:5px;
  background-color:#e2c75a;
}

#avasJourneyBanner.insta{
  background-color: #ff266a;
  color:white
}

.fireworksText {
  font-size: 90px;
  font-weight: 400;
  color: #e2c75a;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.dollar-sign{
  padding-right: 4px;
}
/*.rt-tr.rt-tr-level-0 .dollar-sign{*/
  /*color:#137CBD*/
/*}*/
/*.rt-tr.rt-tr-level-1 .dollar-sign{*/
  /*color:#106BA3*/
/*}*/
/*.rt-tr.tr-highlight.rt-tr-level-0 .dollar-sign{*/
  /*color:#F2B824*/
/*}*/
/*.rt-tr.tr-highlight.rt-tr-level-1 .dollar-sign{*/
  /*color:#BF8C0A*/
/*}*/

.holdings-table{
  font-size: 16px;
  font-weight: 200;
}







