body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: "Helvetica-light, Helvetica";
  font-weight: 300;
  background-color: #242424;
}
#mainContent {
  color:#eee;
}
html {
  height:100%
}


#progressWidget .pt-progress-meter{
  background-color: #f3d85c;
}

.softFontBlue {
  color: #e2c75a;
  opacity:1;
}

#avasJourneyBanner{
  color:#242424;
  /*//fontFamily:'Verdana',*/
  font-size:55px;
  font-variant:small-caps;
  letter-spacing:5px;
  background-color:#e2c75a;
}

.dollar-sign{
  padding-right: 4px;
}
/*.rt-tr.rt-tr-level-0 .dollar-sign{*/
  /*color:#137CBD*/
/*}*/
/*.rt-tr.rt-tr-level-1 .dollar-sign{*/
  /*color:#106BA3*/
/*}*/
/*.rt-tr.tr-highlight.rt-tr-level-0 .dollar-sign{*/
  /*color:#F2B824*/
/*}*/
/*.rt-tr.tr-highlight.rt-tr-level-1 .dollar-sign{*/
  /*color:#BF8C0A*/
/*}*/

.holdings-table{
  font-size: 16px;
  font-weight: 200;
}







